$breakpoint-sm: 660px;
$result-panel-width: 360px;
$padding: 14px;

/* be-vietnam-pro-regular - latin-ext_latin */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local(''),
      // Chrome 26+, Opera 23+, Firefox 39+
      url('./assets/fonts/inter-v13-latin-regular.woff2') format('woff2'),
      // Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+
      url('./assets/fonts/inter-v13-latin-regular.woff2') format('woff');
}

@font-face {
  font-family: 'InterBold';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local(''),
      // Chrome 26+, Opera 23+, Firefox 39+
      url('./assets/fonts/inter-v13-latin-700.woff2') format('woff2'),
      // Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+
      url('./assets/fonts/inter-v13-latin-700.woff2') format('woff');
}

@font-face {
  font-family: 'InterSemibold';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: local(''),
      // Chrome 26+, Opera 23+, Firefox 39+
      url('./assets/fonts/inter-v18-latin-600.woff2') format('woff2'),
      // Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+
      url('./assets/fonts/inter-v18-latin-600.woff2') format('woff');
}

:root {
  font-family: Inter;
  line-height: 1.5;
  // font-weight: 400;
  font-size: 13px;

  color-scheme: light dark;
  color: black;
  background-color: white;

  /* font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; */
}

a, a:active, a:visited, a:hover {
  color: #135af2;
}

html,
body,
#root {
    height: 100%;
}

#root {
  width: 100%;
  display: flex;
  flex-direction: column;
}

#top-bar-container {
  padding: $padding;
}

#title-bar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 13px;
}

#main-gui-container {
  display: flex;
  flex-direction: column;
  @media only screen and (min-width: $breakpoint-sm) {
    flex-direction: row;
  }
  flex: 1;
  // background-color: green;
}

#graphs-container {
  display: flex;
  flex-direction: column;
  // background-color: orange;
  // height: 100%;
  
  margin: 0px 10px 10px 10px;
  
  @media only screen and (min-width: $breakpoint-sm) {
    margin: 0px 0px 10px 10px;
    padding-bottom: 0;
    flex: 1;
  }
}

#approx-graph {
  position: relative;
  width: 100%;
  display: flex;
  align-items: stretch;
  
  flex: 3;  
  padding-bottom: 70%;
  @media only screen and (min-width: $breakpoint-sm) {
    padding-bottom: 0;
  }
}

#error-graph {
  margin-top: 16px;
  position: relative;
  width: 100%;
  display: flex;
  align-items: stretch;
  padding-bottom: 70%;
  @media only screen and (min-width: $breakpoint-sm) {
    padding-bottom: 0;
    flex: 3;
  }
}

#gui-controls-bar {
  max-width: $breakpoint-sm;
  display: flex;
  flex-flow: row wrap;
  justify-content: left;
  
}

$controlSpacing: 6px;

#function-string-input {
    width: 100%;
    display: flex;
    align-items: center;
    margin-bottom: $controlSpacing;
}

.modal-open {
  overflow: hidden;
}

#endpoint-match-checkboxes {
  width: 100%;
  @media only screen and (min-width: $breakpoint-sm) {
    width: 30%;
  }
  display: flex;
  align-items: center;
  margin-bottom: $controlSpacing;
}

#x-min-input {
  width: 100%;
  @media only screen and (min-width: $breakpoint-sm) {
    width: 50%;
  }
  display: flex;
  align-items: center;
  margin-bottom: $controlSpacing;
}

#x-max-input {
  width: 100%;
  @media only screen and (min-width: $breakpoint-sm) {
    
    width: 50%;
  }
  box-sizing: border-box;
  display: flex;
  align-items: center;
  margin-bottom: $controlSpacing;
}

#order-slider {
  width: 100%;
  @media only screen and (min-width: $breakpoint-sm) {
    width: 70%;
  }
  
  display: flex;
  align-items: center;
  margin-bottom: $controlSpacing;
}

canvas {
  position: absolute;
  width: 100%;
}

#result-container {
  width: 100%;
  display: flex;
  padding: 0px 10px 0px 10px;
  box-sizing: border-box;
  align-items: flex-start;
  flex-direction: column;
  @media only screen and (min-width: $breakpoint-sm) {
    width: $result-panel-width;
  }
  // background-color: blue;
}

#segmented-button-container {
  width: 100%;
  display: flex;
  justify-content: center;
  padding-top: 20px;
  
  @media only screen and (min-width: $breakpoint-sm) {
    justify-content: left;
    padding-top: 0;
  }
}

.code {
  // white-space: pre-wrap;
  // overflow: auto;
  overflow-x: scroll;
  font-size: 10px;
  background-color: #323227;
  color: #EFECD2;
  margin: 0;
}

.dimmed {
  color: #808080;
}

body {
  display: flex;
  margin: 0;
}

.scrollable-container {
  width: 100%;
  @media only screen and (min-width: $breakpoint-sm) {
    flex: 1; 
    position: relative;
    overflow-y: auto;
  }
}

.scrollable-content {
  width: 100%;
  @media only screen and (min-width: $breakpoint-sm) {
    position: absolute
  }
}